#app{
  width: 250px;
  height: 300px;
  background-color: #DDD;
}

#navigate-bar{
  display: flex;
  height: 10%;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  background-color: navy;
  color: white;
}

